*$py.class
*.cover
*.db
*.egg
*.egg-info
*.egg-info/
*.log
*.py[cod]
*.py[oc]
*.so
*.sqlite
*.swo
*.swp
.DS_Store
.Python
.cache
.coverage
.coverage.*
.databricks
.eggs/
.env
.env.*.local
.env.local==
.hypothesis/
.idea/
.installed.cfg
.ipynb_checkpoints
.pytest_cache/
.python-version
.tox/
.uv/
.venv
.vim/
.vscode/
ENV/
MANIFEST
__pycache__/
build/
coverage.xml
develop-eggs/
dist/
downloads/
eggs/
env.bak/
env/
htmlcov/
lib/
lib64/
local_settings.py
nosetests.xml
parts/
sdist/
var/
venv.bak/
.venv/
wheels/
*.cpython-311.pyc
*.cpython-312.pyc
*.cpython-312.pyc

.databricks
.mcp.json
